<h1> Gustavo Dalanhese </h1>
<img src="https://www.linkedin.com/profile/view?id=229542560&trk=spm_pic"/>
<h2> Senior Account Executive </h2>
<p> I want to learn to write code so that I can set up websites for testing new business ideas.  I also think that programming is going to be as common and needed as reading and writing in the next 20 years. </p>