<div class="profile">
  <h1><b> Welcome to my Website! </b></h1><a href="/italian"> Italian </a>
<h2> Gustavo Dalanhese </h2>
<img src="http://m.c.lnkd.licdn.com/mpr/pub/image-qkKwridBoE_PfXZlnrrCH9mx9TsKpqwab8rhLFzB9W-e0biDqkKh61MB9qe90PrYJT52/gustavo-dalanhese-cep.jpg" style="margin-left: 10px"/>
<h2> Philosopher and Sage </h2>
<p> For hundreds of years I have provided advice, counsel and direction to many of the world's greatest leaders. In my new life and new body I have continued to offer profound wisdom to all who seek it.   </p>
<a href="http://twitter.com/dalanhese"> My twitter! </a>
  <p><a href="/post"> Post Your Thoughts </a></p>
  <p><a href="/read_more"> Read More </a></p>
<h2> Enter your phone number and I will send you some of my wisdom!</h2>
<form action="/" method="post">
  <input id="sms" name="sms" type="text" value="(Number No Dashes)" />
  <input type="submit" value="Click to embark on enlightenment " />
  </form>
</div>
