<div class="profile">
  <h1><b> Welcome to my Website! </b></h1>
<h2> Gustavo Dalanhese </h2>
<img src="http://m.c.lnkd.licdn.com/mpr/pub/image-qkKwridBoE_PfXZlnrrCH9mx9TsKpqwab8rhLFzB9W-e0biDqkKh61MB9qe90PrYJT52/gustavo-dalanhese-cep.jpg" style="margin-left: 10px"/>
<h2> Senior Account Executive </h2>
<p> I want to learn to write code so that I can set up websites for testing new business ideas.  Also, I think that in the next 20 years, programming is going to be as essential as reading and writing are today. </p>
<a href="http://twitter.com/dalanhese"> My twitter! </a>


<h2> Enter your phone number and I will send you a fortune!</h2>
<form action="/" method="post">
  <input id="sms" name="sms" type="text" value="(Number Without Dashes)" />
  <input type="submit" value="Click to Receive your fortune" />
  
</form>
</div>
