<div class="profile">
  <h1><b> Benvenuti nel mio sito web!  </b></h1><a href="/"> English </a>
<h2> Gustavo Dalanhese </h2>
<img src="http://m.c.lnkd.licdn.com/mpr/pub/image-qkKwridBoE_PfXZlnrrCH9mx9TsKpqwab8rhLFzB9W-e0biDqkKh61MB9qe90PrYJT52/gustavo-dalanhese-cep.jpg" style="margin-left: 10px"/>
<h2> Filosofo e salvia </h2>
<p> Per centinaia di anni ho fornito consulenza, consiglio e la direzione di molti dei più grandi leader del mondo. Nella mia nuova vita e nuovo corpo ho continuato a offrire profonda saggezza a tutti coloro che la cercano   </p>
<a href="http://twitter.com/dalanhese"> Il mio Twitter!  </a>
<h2> Inserisci il tuo numero di telefono e ti manderò alcuni della mia saggezza!</h2>
<form action="/italian" method="post">
  <input id="sms" name="sms" type="text" value="(Numero No trattini)" />
  <input type="submit" value="Clicca per intraprendere l'illuminazione" />
  </form>
</div>