.profile {
   background: lightgray;
   padding: 10px;
   marging: 10px;
  text-align: center;
 }
 .profile h1 {
   font-size: 26px;
   text-transform: uppercase;
 }

 .profile img {
   width: 150px;
   height: 150px;
   border-radius: 50px;
 }
html { 
  background: url('http://bit.ly/flickr-img') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }